version: "3.8"

services:
  frontend:
    build:
      context: ./frontend  # Path to your React app
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app_network

  backend:
    build:
      context: ./backend  # Path to your Node.js app
    ports:
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/mini-project1
    depends_on:
      - mongo
    networks:
      - app_network

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data:
    driver: local
